*.o
*.lo
*.la
Makefile
Makefile.in
missing
ar-lib
autom4te.cache/
compile
config.guess
config.log
config.status
config.sub
configure
depcomp
aclocal.m4
.deps
.libs
ircd
m4/
ltmain.sh
install-sh
libtool
test-driver
tests/hash_tests
*.log
*.trs
oftc_ircd_tests
*.gcno
*.gcda
cov
*.info
.DS_Store
*_tests
TEST-test.xml
.dirstamp
